
@page "/"
@inject IJSRuntime js;

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello Guest</h1>
    </NotAuthorized>
</AuthorizeView>

<a href="/login">Login</a>

<AuthorizeView>
    <Authorized>
        <button class="btn btn-outline-primary" @onclick=DisplayHello>Sui</button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    public async Task DisplayHello()
    {
        var authState = await authenticationState;
        var message = $"{authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }

}
