@attribute [Authorize(Roles = "User,Administrator")]
@layout MainLayout
@page "/ContractPDF"
@using BlazorApp1.Data;
@inject IJSRuntime js;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnvironment
@inject WeatherForecastService ForecastService
@inject ExportService exportService
@inject Microsoft.JSInterop.IJSRuntime Js
@using System.IO;
@using System;


<button class="btn btzn-primary" @onclick=@CreatePDF>Export to PDf</button>




@code{

    protected override async Task OnInitializedAsync()
    {

    }
    protected async Task CreatePDF()
    {
        ExportService service = new ExportService(hostingEnvironment);
        MemoryStream documentStream = service.CreatePDF();

        await js.InvokeAsync<object>(
            "saveAsFile",
            "Invoice.pdf",
            Convert.ToBase64String(documentStream.ToArray())
        );
    }

}