@attribute [Authorize(Roles = "User,Administrator")]
@layout MainLayout
@page "/ContractPDF"
@inject DatabaseService dbService
@using BlazorApp1.Data;
@inject IJSRuntime js;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnvironment
@inject WeatherForecastService ForecastService
@inject ExportService exportService
@inject Microsoft.JSInterop.IJSRuntime Js
@using System.IO;
@using System;
@using EntityFrameWorkDataAccess;
@using EntityFrameWorkDataAccess.Models;


<button class="btn btzn-primary" @onclick=@CreatePDF>Export to PDf</button>




@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {

    }
    protected async Task CreatePDF()
    {
        var authState = await authenticationState;
        tbUser user = dbService.GetUser(authState.User.Identity.Name);
        ExportService service = new ExportService(hostingEnvironment);
        MemoryStream documentStream = service.CreateApplicationPDF(user.Name,user.LastName);

        await js.InvokeAsync<object>(
            "saveAsFile",
            "Invoice.pdf",
            Convert.ToBase64String(documentStream.ToArray())
        );
    }

}