@using BlazorApp1.Authentication;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager naviManager

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div style="background-color:white" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color:white">
            <AuthorizeView>
                <Authorized>
                    <a @onclick=Logout href="/">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4"style="background-color:azure">
            @Body
        </article>
    </main>
</div>

@code{
    public async Task Logout()
    {
        var AuthProvider = (CustomAuthentication)authStateProvider;
        await AuthProvider.UpdateAuthenticationState(null);
        naviManager.NavigateTo("/", true);
    }
}
