@using BlazorApp1.Authentication;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager naviManager

<PageTitle>Praxátor</PageTitle>

<div style="height:auto">
    <div style="height:auto; backgroun-color:azure">
        <NavMenu></NavMenu>
        <div class="content px-8" style="background-color:azure; height:auto">
            @Body
        </div>
    </div>
</div>
